<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Verified Logitech C925e wrist-camera geometry, profile version 1. -->
  <xacro:macro name="myarm_logitech_c925e_wrist_camera">
    <xacro:myarm_logitech_c925e_wrist_mount parent_link="gripper_base_link"/>
    <xacro:myarm_camera_body_and_optical
      parent_link="logitech_c925e_wrist_mount_link"
      camera_xyz="0.00209 0.000 0.025"
      camera_rpy="0.0 0.0 0.0"
      optical_xyz="0.04 0 0.03"
      optical_rpy="-1.570796326794897 0 -1.570796326794897"/>
  </xacro:macro>
</robot>
